@mixin reset-list(){
    list-style-type: none;
    margin: 0; padding: 0;
}

@mixin rotate($deg){
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);
}

@mixin round-icon($size){
    background-color: $primary-color;
    color: white;
    height: $size;
    width: $size;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    &:hover{
        background-color: $third-color;
        color: $primary-color;
    }
}

@mixin truncate(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//uses bourboun
@mixin global-site-animation(){
  @include transition (all 300ms ease-out);
}

//this can be added stand alone, will be applied
@mixin placeholder-color($color){
  @include transition (all 300ms ease-out);
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $color;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $color;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $color;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $color;
    }

}

